<ul class="social">
	<li>
		<%= render :partial => "recruitment_offer_container" %>
	</li>
	<li>
		<%= render :partial => "slow_hour_offer_container" %>
	</li>
	<li>
		<%= render :partial => "bring_a_friend_container" %>
	</li>
	<li>
		<%= render :partial => "facebook_connect_container" %>
	</li>
	<li>
		<%= render :partial => "regular_offer_container" %>
	</li>
	<li>
		<%= render :partial => "geo_offer_container" %>
	</li>
	<li>
		<%= render :partial => "lucky_customer_container" %>
	</li>
</ul>